{% extends 'base.html.twig' %}

{% block title %}Hello CashMoneyController!{% endblock %}

{% block body %}

<div class="container p-0 m-0" id="map">
  <button type="button" class="btn" data-toggle="modal" data-target="#modalEvent">Modal</button>
</div>
  <div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered border-primary bg-dark border-3" id="modalcash" role="document">
      <!--Content-->
      <div class="modal-content text-center bg-transparent">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center text-white bg-transparent">
          <h2 class="modal-title" id="exampleModalLabel">Car la vie est faite d'imprévus...</h2>
          <p class="heading"></p>
        </div>
        <!--Body-->
        <div class="modal-body">
          <h2 class="modal-title" id="exampleModalLabel">Car la vie est faite d'imprévus...</h2>
          <div id="randomize">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="inner">
                    <div id="machine1" class="randomizeMachine">
                      <div><img src="{{ asset('build/cashmachine/slot1.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot2.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot3.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot4.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot5.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot6.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot7.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot8.png') }}" /></div>
                    </div>
                  </div>
                  <div id="machine1Result" class="col-xs-4 machineResult">Index: 0</div>
                </div>

                <div class="col-sm-4">
                  <div class="inner">
                    <div id="machine2" class="randomizeMachine">
                      <div><img src="{{ asset('build/cashmachine/slot1.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot2.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot3.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot4.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot5.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot6.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot7.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot8.png') }}" /></div>
                    </div>
                  </div>
                  <div id="machine2Result" class="col-xs-4 machineResult">Index: 1</div>
                </div>

                <div class="col-sm-4">
                  <div class="inner">
                    <div id="machine3" class="randomizeMachine">
                      <div><img src="{{ asset('build/cashmachine/slot1.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot2.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot3.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot4.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot5.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot6.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot7.png') }}" /></div>
                      <div><img src="{{ asset('build/cashmachine/slot8.png') }}" /></div>
                    </div>
                  </div>
                  <div id="machine3Result" class="col-xs-4 machineResult">Index: 2</div>
                </div>

                <div class="btn-group btn-group-justified" role="group">
                  <div id="randomizeButton">
                    <a href="#" class="action-button shadow animate yellow w-10">Une surprise ??</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>



{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script id="codeScript2">
    const btn = document.querySelector('#randomizeButton');
    const results = {
      machine1: document.querySelector('#machine1Result'),
      machine2: document.querySelector('#machine2Result'),
      machine3: document.querySelector('#machine3Result')
    };
    const el1 = document.querySelector('#machine1');
    const el2 = document.querySelector('#machine2');
    const el3 = document.querySelector('#machine3');
    const machine1 = new SlotMachine(el1, { active: 0 });
    const machine2 = new SlotMachine(el2, { active: 1 });
    const machine3 = new SlotMachine(el3, { active: 2 });

    function onComplete(active){
      results[this.element.id].innerText = `Index: ${this.active}`;
    }

    btn.addEventListener('click', () => {
      machine1.shuffle(5, onComplete);
      setTimeout(() => machine2.shuffle(5, onComplete), 500);
      setTimeout(() => machine3.shuffle(5, onComplete), 1000);
    });
  </script>
{% endblock %}
